@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "modules/wrapper.scss";

@import "components/switch";
@import "components/checkbox";
@import "components/range-slider";
@import "components/pagination";
@import "components/steps";
@import "components/avatar";
@import "components/user";
@import "components/two-line";
@import "components/breadcrumb";
@import "components/radio";
@import "components/affix";

body * {
  font-family: sans-serif;
}

section {
  margin-bottom: 60px;
}