.affix-container {
  padding: 20px;
  height: 100vh;
  border: 1px solid $grayBorder;
  position: relative;
}

.affix {
  position: sticky;
  top: 0;
  left: 0;
  list-style-type: none;
  padding-left: 0;

  &__item {
    border-left: 1px solid $grayDisabled;
    min-height: 20px;
    transition: border .2s;

    &:hover .affix__link {
      color: $blue;
    }

    &:active, &.active {
      border-left: 1px solid $blue;

      .affix__link {
        color: $blue;
      }
    }
  }
  
  &__link {
    height: 100%;
    line-height: 20px;
    text-decoration: none;
    display: block;
    padding-left: 16px;
    color: $grayTextDark;
    font-size: 12px;
    transition: color .2s;
  }
}