.avatars-wrp {
  display: flex;
  margin-bottom: 50px;

  & > .avatar {
    margin-right: 50px;
  }
}

.avatar {
  min-width: 24px;
  min-height: 24px;
  background-color: $gray;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;

  &--large {
    width: 40px;
    height: 40px;

    .avatar__icon {
      font-size: 17px;
    }
  }

  &--medium {
    width: 32px;
    height: 32px;

    .avatar__icon {
      font-size: 14px;
    }
  }

  &--small {
    width: 24px;
    height: 24px;

    .avatar__icon {
      font-size: 11px;
    }
  }

  &--round {
    border-radius: 100px;
  }

  &--add {
    background-color: $grayLight;
  }

  &__icon {
    font-size: 23px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatars-group {
  display: flex;
  word-spacing: 100px;

  .avatar {
    border: 2px solid $white;
  }

  .avatar + .avatar {

    margin-left: -16px;

    &--medium {
      margin-left: -13px;
    }

    &--small {
      margin-left: -10px;
    }
  }
}