.breadcrumbs {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.breadcrumb {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: $grayTextDisabled;
  transition: color .2s;

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    word-spacing: 0;

    //>* {
    //  box-sizing: border-box;
    //  border: 1px solid blue;
    //}
  }

  &__icon, &__text {
    display: block;
  }

  &__icon + &__icon, &__icon + &__text, &__text + &__icon {
    margin-left: 10px;
  }

  &__text + &__icon--drop-down, &__icon + &__icon--drop-down {
    margin-left: 4px;
  }

  &:hover {
    color: $blueHover;
  }

  &:active {
    color: $grayText;
  }
}

.breadcrumb + .breadcrumb  {
  padding-left: 10px;
}

.breadcrumbs .breadcrumb:last-child .breadcrumb__icon--right {
  display: none;
}