@import "../utils/vars";

.checkbox {
  padding-left: 24px;

  &__input {
    position: absolute;
    appearance: none;

    &:checked + .checkbox__box {
      border: 1px solid $blue;
      background: $blue;

      &:before {
        visibility: visible;
        opacity: 1;
      }

      &--indeterminate {
        background: none;
      }
    }

    &[disabled] + .checkbox__box {
      border: 1px solid $grayBorder;
      background-color: $grayLight;

      &:before {
        border: 2px solid $gray;
        border-right: none;
        border-top: none;
      }

      &--indeterminate:after {
        background: $gray;
      }
    }

    &[disabled]:checked + .checkbox__box {
        background:  $grayLight;
    }
  }

  &__box {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $grayBorder;
    border-radius: 2px;
    margin-left: -24px;
    transition: .2s;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 9px;
      height: 4px;
      border: solid 2px $white;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s;
    }

    &--indeterminate:after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      background-color: $blue;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
    }

    &:hover {
      border: 1px solid $blue;
    }
  }
}