.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;

  &__item {
    position: relative;
    border: 1px solid $grayBorder;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 32px;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    transition: border .2s;

    &:hover {
      border: 1px solid $blueHover;

      a {
        color: $blueHover;
      }
    }

    &.active {
      border: 1px solid $blue;

      a {
        color: $blue;
      }
    }

    a {
      display: block;
      width: 33px;
      height: 32px;
      box-sizing: border-box;
      line-height: 32px;
      text-decoration: none;
      font-size: 14px;
      color: $grayText;
      transition: color .2s;

      &:hover {
        color: $blueHover;
      }
    }

    &--prev:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transform: translate(-25%, -50%) rotate(-135deg);
      border: 1px solid $grayText;
      border-bottom-color: transparent;
      border-left-color: transparent;
     }

    &--next:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transform: translate(-75%, -50%) rotate(45deg);
      border: 1px solid $grayText;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &--next:hover:before,
    &--prev:hover:before {
      border: 1px solid $blueHover;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &--prev:hover,
    &--next:hover {
      border: 1px solid $grayBorder;
    }

    &--disabled:before, &--disabled:hover:before {
      border: 1px solid $gray;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &--disabled:hover {
      border: 1px solid $grayBorder;
    }

    &--space {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      width: 24px;

      div {
        width: 3px;
        height: 3px;
        background-color: $grayTextDisabled;
        border-radius: 3px;
        flex-shrink: 0;
      }

      div + div {
        margin-left: 4px;
      }

      &:hover {
        border: 1px solid transparent;
      }

      //&:before {
      //  position: absolute;
      //  letter-spacing: 4px;
      //  text-align: center;
      //  font-size: 20px;
      //  left: 50%;
      //  top: 50%;
      //  transform: translate(-50%, -50%);
      //  border: 1px solid red;
      //}
    }
  }

  &__item +  &__item {
    margin-left: 8px;
  }

}