@import "../utils/vars";

.radio {
  padding-left: 24px;

  &__input {
    position: absolute;
    appearance: none;

    &:checked + .radio__box {
      border: 1px solid $blue;

      &:before {
        visibility: visible;
        opacity: 1;
      }
    }

    &[disabled] + .radio__box {
      border: 1px solid $grayBorder;
      background-color: $grayLight;

      &:before {
        background-color: $gray;
      }
    }

    &[disabled]:checked + .radio__box {
      background:  $grayLight;
    }
  }

  &__box {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $grayBorder;
    border-radius: 100px;
    margin-left: -24px;
    transition: .2s;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background: $blue;
      border-radius: 100px;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s;
    }

    &:hover {
      border: 1px solid $blue;
    }
  }
}