$slider-width-number: 320;
$slider-width: #{$slider-width-number}px;
$shadow-size: -6px;

@function makelongshadow($color, $size) {
  $val: 5px 0 0 $size $color;
  @for $i from 6 through -$slider-width-number {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }
  @return $val;
}

.range-slider {
  width: $slider-width-number;
  display: flex;
  align-items: center;
  height: 20px;
  overflow: hidden;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    width: $slider-width;
    height: 4px;
    background: $grayLight;
    outline: none;
    transition: .2s;

    &::-moz-range-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid $blueLight;
      background: $white;
      border-radius: 100%;
      box-shadow: makelongshadow($blueLight, $shadow-size);
      transition: border .2s;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid $blueLight;
      background: $white;
      border-radius: 100%;
      box-shadow: makelongshadow($blueLight, $shadow-size);
      transition: border .2s;
    }

    &[disabled], &[disabled]:hover, &[disabled]:active {
      &::-moz-range-thumb {
        border: 2px solid $gray;
        box-shadow: makelongshadow($gray, $shadow-size);
      }

      &::-webkit-slider-thumb {
        border: 2px solid $gray;
        box-shadow: makelongshadow($gray, $shadow-size);
      }
    }

    &:hover {
      &::-webkit-slider-thumb {
        border: 2px solid $blue;
      }

      &::-moz-range-thumb {
        border: 2px solid $blue;
      }
    }

    &:active {
      &::-webkit-slider-thumb {
        border: 2px solid $blue;
      }

      &::-moz-range-thumb {
        border: 2px solid $blue;
      }
    }
  }
}

