.steps {
  display: flex;

  &__step + &__step {
    width: 100%;
    margin-left: 14px;

    .steps__line {
      display: block;
    }
  }

  &__step {
    display: flex;
  }

  &__content, &__ui {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__ui {
    align-items: center;
    position: relative;
    margin-right: 8px;
  }

  &__circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 16px;
    flex-shrink: 0;
  }

  &__texts-wrp {
    flex-shrink: 0;
  }


  &__title, &__text {
    font-size: 16px;
    line-height: 150%;
    color: $grayBorder;
  }

  &__title {
    line-height: inherit;
    font-weight: 600;
    color: $grayTextDark;
  }

  &__title + &__text {
    margin-top: 3px;
  }

  &__line {
    display: none;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    background: $blue;
    margin-right: 12px;
  }
}

.steps__step--small .steps__circle {
    height: 24px;
    width: 24px;
    line-height: 24px;
    font-size: 14px;
}

.steps__step--small.steps__step--empty .steps__circle {
  font-size: 10px;
}

.steps__step--icon {
  .steps__circle {
    background-color: transparent;
    height: auto;
    width: auto;
    line-height: 100%;
    border: none;
    color: $blue;
    font-size: 17px;
  }

  .steps__ui {
    margin-right: 11px;
  }
}

.steps__step--empty {
  .steps__circle {
    background-color: transparent;
    color: $blue;
  }

  .steps__title {
    color: $grayText;
  }
}

.steps__step--disabled {
  .steps__circle {
    background-color: transparent;
    border: 1px solid $gray;
    color: $gray;
  }

  &.steps__step--icon .steps__circle {
    border: none;
  }

  .steps__line {
    background-color: $grayDisabled;
  }

  .steps__title, .steps__text {
    color: $grayTextDisabled;
  }
}

.steps__step--error {
  .steps__circle {
    background-color: transparent;
    border: 1px solid $redError;
    color: $redError;
  }

  &.steps__step--icon .steps__circle {
    border: none;
  }

  .steps__line {
    background-color: $redError;
  }

  .steps__title, .steps__text {
    color: $redError;
  }
}

.steps__step--dots {

  .steps__ui {
    justify-content: flex-end;
    margin-right: 0;
  }

  .steps__circle {
    width: 8px;
    height: 8px;
    line-height: 8px;
  }

  .steps__line {
    height: 2px;
    margin-right: 8px;
  }

  .steps__content {
    align-items: flex-end;
    flex-direction: column;
  }

  .steps__texts-wrp {
    margin-top: 8px;
    text-align: center;
    transform: translateX(50%);
  }

  &.steps__step--empty .steps__circle {
    width: 6px;
    height: 6px;
    line-height: 6px;
    background-color: $blue;
  }

  &.steps__step--disabled .steps__circle {
    background-color: $gray;
  }

  &.steps__step--error .steps__circle {
    background-color: $redError;
  }
}

.steps__step--dots + .steps__step--dots {
  margin-left: 8px;
}

.steps--vertical {
  flex-direction: column;

  .steps {
    &__step {
      display: block;
    }

    &__content {
      width: auto;
    }

    &__ui {
      position: relative;
      width: auto;
      flex-direction: column;
      align-items: center;
    }

    &__line {
      position: absolute;
      margin: 0;
      top: -8px;
      left: 50%;
      width: 1px;
      height: 24px;
      transform: translate(-50%, -100%);
    }
  }

  .steps__step + .steps__step {
    margin: 25px 0 0;
  }
}

//.steps .steps__step--dots:first-child {
//
//  .steps__circle {
//    margin: auto;
//
//    &:before {
//      position: absolute;
//      content: '';
//      height: 2px;
//      background: $blue;
//      left: 50%;
//      transform: translateX(12px);
//      width: 100%;
//    }
//  }
//
//  .steps__texts-wrp {
//    transform: none;
//  }
//}
//
//.steps__step--dots ~ .steps__step--dots.steps__step--disabled  {
//  border: 1px solid orange;
//  .steps__circle:before {
//    background-color: red;
//  }
//}
//
//.steps .steps__step--dots:last-child {
//
//  .steps__ui {
//    border: 1px solid blue;
//  }
//
//  .steps__circle {
//    margin: auto;
//  }
//
//  .steps__texts-wrp {
//    border: 1px solid green;
//    transform: none;
//  }
//}
