@import "../utils/vars";

.switch-wrp {
  box-sizing: border-box;
  line-height: 100%;
  width: 44px;
  height: 22px;
  padding: 0;
  position: relative;
}

.switch {
  margin: 0;
  padding: 0;
  line-height: 100%;
  position: relative;
  width: 44px;
  height: 22px;
  appearance: none;
  outline: none;
  border: none;
  background: $gray;
  border-radius: 16px;
  transition: .2s;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    border-radius: 16px;
    background-color: $white;
    transition: .2s;
    box-shadow: 0 2px 4px rgba(0, 35, 11, 0.2);
  }

  &:checked {
    background-color: $blue;

    &::before {
      left: auto;
      right: 2px;
    }
  }


  &[disabled] {
    background-color: $grayDisabled;

    &::before {
      box-shadow: none;
    }

    &:checked {
      background-color: $blueDisabled;
    }
  }

  &:active::before {
      width: 24px;
  }

  &--load::after {
    position: absolute;
    content: '';
    border-radius: 16px;
    top: 50%;
    transform-origin: center;
    transform: translateY(-50%);
    left: 4px;
    width: 11.5px;
    height: 11.5px;
    border: 1px solid $gray;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    animation: rotate 1s linear 0.5s infinite, move 5s linear 2s;
    transition: .2s;
  }

  &--load:checked::after {
    left: auto;
    right: 4px;
    border: 1px solid $blue;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  &--load[disabled]::after {
    border: 1px solid $grayDisabled;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }


  &--load[disabled]:checked::after {
    border: 1px solid $grayDisabled;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  &--small {
    width: 28px;
    height: 16px;

    &::before {
      height: 12px;
      width: 12px;
    }

    &:active::before {
      width: 16px;
    }

    &.switch--load::after {
      left: 3.3px;
      width: 8px;
      height: 8px;
    }

    &.switch--load:checked::after {
      left: auto;
      right: 3.3px;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 100%;
    color: $white;
    font-size: 12px;
    cursor: default;
    pointer-events: none;

    &--before {
      left: 8px;
    }


    &--after {
      right: 8px;
    }
  }
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  25% {
    transform: translateY(-50%) rotate(90deg);
  }
  50% {
    transform: translateY(-50%) rotate(180deg);
  }
  75% {
    transform: translateY(-50%) rotate(270deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}