.two-line {
  &__title {
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grayTextDisabled;
  }

  &__content {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    margin-top: 8px;
    transition: color .2s;
    color: $grayTextDark;
  }

  &:hover .two-line__content {
    color: $blueHover;
  }

  &:active .two-line__content {
    color: $blue;
  }

  &--disabled {
    .two-line__content, &:hover .two-line__content, &:active .two-line__content {
      color: $gray;
    }
  }
}