.user {
  display: flex;
  align-items: center;

  &__avatar {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: $grayTextDark;
    text-decoration: none;
    transition: color .2s;
  }

  &:hover .user__text {
    color: $blueHover;
  }

  &:active .user__text {
    color: $blue;
  }

  &--disabled {
    .user__text, &:hover .user__text, &:active .user__text {
      color: $gray;
    }

    .avatar {
      filter: grayscale(100%);
    }
  }
}