// Fonts here

// HelveticaNeueCyrFONT
//@font-face {
//  font-family: "HelveticaNeueCyr-Black";
//  src: url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.eot'); /* IE9 Compat Modes */
//  src: url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.woff') format('woff'), /* Pretty Modern Browsers */
//       url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
//       //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
//}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?rj6ko4');
  src:  url('/assets/fonts/icomoon.eot?rj6ko4#iefix') format('embedded-opentype'),
  url('/assets/fonts/icomoon.ttf?rj6ko4') format('truetype'),
  url('/assets/fonts/icomoon.woff?rj6ko4') format('woff'),
  url('/assets/fonts/icomoon.svg?rj6ko4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-book:before {
  content: "\e900";
}
.icon-account-book-filled:before {
  content: "\e901";
}
.icon-account-book-two-tone .path1:before {
  content: "\e902";
  color: rgb(230, 247, 255);
}
.icon-account-book-two-tone .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-account-book-two-tone .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-alert:before {
  content: "\e905";
}
.icon-alert-filled:before {
  content: "\e906";
}
.icon-alert-two-tone .path1:before {
  content: "\e907";
  color: rgb(230, 247, 255);
}
.icon-alert-two-tone .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-alibaba:before {
  content: "\e909";
}
.icon-align-center:before {
  content: "\e90a";
}
.icon-align-left:before {
  content: "\e90b";
}
.icon-align-right:before {
  content: "\e90c";
}
.icon-alipay:before {
  content: "\e90d";
}
.icon-alipay-circle:before {
  content: "\e90e";
}
.icon-alipay-circle-filled:before {
  content: "\e90f";
}
.icon-alipay-square-filled:before {
  content: "\e910";
}
.icon-aliwangwang:before {
  content: "\e911";
}
.icon-aliwangwang-filled:before {
  content: "\e912";
}
.icon-aliyun:before {
  content: "\e913";
}
.icon-amazon:before {
  content: "\e914";
}
.icon-amazon-circle-filled:before {
  content: "\e915";
}
.icon-amazon-square-filled:before {
  content: "\e916";
}
.icon-android:before {
  content: "\e917";
}
.icon-android-filled:before {
  content: "\e918";
}
.icon-ant-cloud:before {
  content: "\e919";
}
.icon-ant-design:before {
  content: "\e91a";
}
.icon-apartment:before {
  content: "\e91b";
}
.icon-api:before {
  content: "\e91c";
}
.icon-api-filled:before {
  content: "\e91d";
}
.icon-api-two-tone .path1:before {
  content: "\e91e";
  color: rgb(230, 247, 255);
}
.icon-api-two-tone .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-apple:before {
  content: "\e920";
}
.icon-apple-filled:before {
  content: "\e921";
}
.icon-appstore:before {
  content: "\e922";
}
.icon-appstore-filled:before {
  content: "\e923";
}
.icon-appstore-two-tone .path1:before {
  content: "\e924";
  color: rgb(24, 144, 255);
}
.icon-appstore-two-tone .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-area-chart:before {
  content: "\e926";
}
.icon-arrow-down:before {
  content: "\e927";
}
.icon-arrow-left:before {
  content: "\e928";
}
.icon-arrow-right:before {
  content: "\e929";
}
.icon-arrows-alt:before {
  content: "\e92a";
}
.icon-arrow-up:before {
  content: "\e92b";
}
.icon-audio:before {
  content: "\e92c";
}
.icon-audio-filled:before {
  content: "\e92d";
}
.icon-audio-two-tone .path1:before {
  content: "\e92e";
  color: rgb(230, 247, 255);
}
.icon-audio-two-tone .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-audio-two-tone .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-audit:before {
  content: "\e931";
}
.icon-backward:before {
  content: "\e932";
}
.icon-backward-filled:before {
  content: "\e933";
}
.icon-bank:before {
  content: "\e934";
}
.icon-bank-filled:before {
  content: "\e935";
}
.icon-bank-two-tone .path1:before {
  content: "\e936";
  color: rgb(230, 247, 255);
}
.icon-bank-two-tone .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-bar-chart:before {
  content: "\e938";
}
.icon-barcode:before {
  content: "\e939";
}
.icon-bars:before {
  content: "\e93a";
}
.icon-behance:before {
  content: "\e93b";
}
.icon-behance-circle-filled:before {
  content: "\e93c";
}
.icon-behance-square:before {
  content: "\e93d";
}
.icon-behance-square-filled:before {
  content: "\e93e";
}
.icon-bell:before {
  content: "\e93f";
}
.icon-bell-filled:before {
  content: "\e940";
}
.icon-bell-two-tone .path1:before {
  content: "\e941";
  color: rgb(230, 247, 255);
}
.icon-bell-two-tone .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-bg-colors:before {
  content: "\e943";
}
.icon-block:before {
  content: "\e944";
}
.icon-bold:before {
  content: "\e945";
}
.icon-book:before {
  content: "\e946";
}
.icon-book-filled:before {
  content: "\e947";
}
.icon-book-two-tone .path1:before {
  content: "\e948";
  color: rgb(24, 144, 255);
}
.icon-book-two-tone .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-book-two-tone .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-border:before {
  content: "\e94b";
}
.icon-border-bottom:before {
  content: "\e94c";
}
.icon-border-horizontal:before {
  content: "\e94d";
}
.icon-border-inner:before {
  content: "\e94e";
}
.icon-border-left:before {
  content: "\e94f";
}
.icon-border-outer:before {
  content: "\e950";
}
.icon-border-right:before {
  content: "\e951";
}
.icon-border-top:before {
  content: "\e952";
}
.icon-border-verticle:before {
  content: "\e953";
}
.icon-box-plot:before {
  content: "\e954";
}
.icon-box-plot-filled:before {
  content: "\e955";
}
.icon-box-plot-two-tone .path1:before {
  content: "\e956";
  color: rgb(230, 247, 255);
}
.icon-box-plot-two-tone .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-branches:before {
  content: "\e958";
}
.icon-bug:before {
  content: "\e959";
}
.icon-bug-filled:before {
  content: "\e95a";
}
.icon-bug-two-tone .path1:before {
  content: "\e95b";
  color: rgb(24, 144, 255);
}
.icon-bug-two-tone .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-build:before {
  content: "\e95d";
}
.icon-build-filled:before {
  content: "\e95e";
}
.icon-build-two-tone .path1:before {
  content: "\e95f";
  color: rgb(230, 247, 255);
}
.icon-build-two-tone .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-bulb:before {
  content: "\e961";
}
.icon-bulb-filled:before {
  content: "\e962";
}
.icon-bulb-two-tone .path1:before {
  content: "\e963";
  color: rgb(230, 247, 255);
}
.icon-bulb-two-tone .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-calculator:before {
  content: "\e965";
}
.icon-calculator-filled:before {
  content: "\e966";
}
.icon-calculator-two-tone .path1:before {
  content: "\e967";
  color: rgb(24, 144, 255);
}
.icon-calculator-two-tone .path2:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-calculator-two-tone .path3:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-calendar:before {
  content: "\e96a";
}
.icon-calendar-filled:before {
  content: "\e96b";
}
.icon-calendar-two-tone .path1:before {
  content: "\e96c";
  color: rgb(230, 247, 255);
}
.icon-calendar-two-tone .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-camera:before {
  content: "\e96e";
}
.icon-camera-filled:before {
  content: "\e96f";
}
.icon-camera-two-tone .path1:before {
  content: "\e970";
  color: rgb(230, 247, 255);
}
.icon-camera-two-tone .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-camera-two-tone .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-car:before {
  content: "\e973";
}
.icon-caret-down:before {
  content: "\e974";
}
.icon-caret-down-filled:before {
  content: "\e975";
}
.icon-caret-left:before {
  content: "\e976";
}
.icon-caret-left-filled:before {
  content: "\e977";
}
.icon-caret-right:before {
  content: "\e978";
}
.icon-caret-right-filled:before {
  content: "\e979";
}
.icon-caret-up:before {
  content: "\e97a";
}
.icon-caret-up-filled:before {
  content: "\e97b";
}
.icon-car-filled:before {
  content: "\e97c";
}
.icon-carry-out:before {
  content: "\e97d";
}
.icon-carry-out-filled:before {
  content: "\e97e";
}
.icon-carry-out-two-tone .path1:before {
  content: "\e97f";
  color: rgb(24, 144, 255);
}
.icon-carry-out-two-tone .path2:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-carry-out-two-tone .path3:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-car-two-tone .path1:before {
  content: "\e982";
  color: rgb(230, 247, 255);
}
.icon-car-two-tone .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-car-two-tone .path3:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-car-two-tone .path4:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-check:before {
  content: "\e986";
}
.icon-check-circle:before {
  content: "\e987";
}
.icon-check-circle-filled:before {
  content: "\e988";
}
.icon-check-circle-two-tone .path1:before {
  content: "\e989";
  color: rgb(24, 144, 255);
}
.icon-check-circle-two-tone .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-check-circle-two-tone .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-check-square:before {
  content: "\e98c";
}
.icon-check-square-filled:before {
  content: "\e98d";
}
.icon-check-square-two-tone .path1:before {
  content: "\e98e";
  color: rgb(24, 144, 255);
}
.icon-check-square-two-tone .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-check-square-two-tone .path3:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-chrome:before {
  content: "\e991";
}
.icon-chrome-filled:before {
  content: "\e992";
}
.icon-ci:before {
  content: "\e993";
}
.icon-ci-circle-filled:before {
  content: "\e994";
}
.icon-ci-two-tone .path1:before {
  content: "\e995";
  color: rgb(24, 144, 255);
}
.icon-ci-two-tone .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-ci-two-tone .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-clock-circle:before {
  content: "\e998";
}
.icon-clock-circle-filled:before {
  content: "\e999";
}
.icon-clock-circle-two-tone .path1:before {
  content: "\e99a";
  color: rgb(24, 144, 255);
}
.icon-clock-circle-two-tone .path2:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-clock-circle-two-tone .path3:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-close:before {
  content: "\e99d";
}
.icon-close-circle:before {
  content: "\e99e";
}
.icon-close-circle-filled:before {
  content: "\e99f";
}
.icon-close-circle-two-tone .path1:before {
  content: "\e9a0";
  color: rgb(24, 144, 255);
}
.icon-close-circle-two-tone .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-close-circle-two-tone .path3:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-close-square:before {
  content: "\e9a3";
}
.icon-close-square-filled:before {
  content: "\e9a4";
}
.icon-close-square-two-tone .path1:before {
  content: "\e9a5";
  color: rgb(24, 144, 255);
}
.icon-close-square-two-tone .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-close-square-two-tone .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-cloud:before {
  content: "\e9a8";
}
.icon-cloud-download:before {
  content: "\e9a9";
}
.icon-cloud-filled:before {
  content: "\e9aa";
}
.icon-cloud-server:before {
  content: "\e9ab";
}
.icon-cloud-sync:before {
  content: "\e9ac";
}
.icon-cloud-two-tone .path1:before {
  content: "\e9ad";
  color: rgb(230, 247, 255);
}
.icon-cloud-two-tone .path2:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-cloud-upload:before {
  content: "\e9af";
}
.icon-cluster:before {
  content: "\e9b0";
}
.icon-code:before {
  content: "\e9b1";
}
.icon-code-filled:before {
  content: "\e9b2";
}
.icon-codepen:before {
  content: "\e9b3";
}
.icon-codepen-circle:before {
  content: "\e9b4";
}
.icon-codepen-circle-filled:before {
  content: "\e9b5";
}
.icon-codepen-square-filled:before {
  content: "\e9b6";
}
.icon-code-sandbox:before {
  content: "\e9b7";
}
.icon-code-sandbox-circle-filled:before {
  content: "\e9b8";
}
.icon-code-sandbox-square-filled:before {
  content: "\e9b9";
}
.icon-code-two-tone .path1:before {
  content: "\e9ba";
  color: rgb(24, 144, 255);
}
.icon-code-two-tone .path2:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-code-two-tone .path3:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-coffee:before {
  content: "\e9bd";
}
.icon-colum-height:before {
  content: "\e9be";
}
.icon-column-width:before {
  content: "\e9bf";
}
.icon-compass:before {
  content: "\e9c0";
}
.icon-compass-filled:before {
  content: "\e9c1";
}
.icon-compass-two-tone .path1:before {
  content: "\e9c2";
  color: rgb(230, 247, 255);
}
.icon-compass-two-tone .path2:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-compass-two-tone .path3:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-contacts:before {
  content: "\e9c5";
}
.icon-contacts-filled:before {
  content: "\e9c6";
}
.icon-contacts-two-tone .path1:before {
  content: "\e9c7";
  color: rgb(230, 247, 255);
}
.icon-contacts-two-tone .path2:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-contacts-two-tone .path3:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-contacts-two-tone .path4:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-container:before {
  content: "\e9cb";
}
.icon-container-filled:before {
  content: "\e9cc";
}
.icon-container-two-tone .path1:before {
  content: "\e9cd";
  color: rgb(230, 247, 255);
}
.icon-container-two-tone .path2:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-container-two-tone .path3:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-container-two-tone .path4:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-control:before {
  content: "\e9d1";
}
.icon-control-filled:before {
  content: "\e9d2";
}
.icon-control-two-tone .path1:before {
  content: "\e9d3";
  color: rgb(24, 144, 255);
}
.icon-control-two-tone .path2:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-control-two-tone .path3:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-control-two-tone .path4:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-copy:before {
  content: "\e9d7";
}
.icon-copy-filled:before {
  content: "\e9d8";
}
.icon-copyright:before {
  content: "\e9d9";
}
.icon-copyright-circle-filled:before {
  content: "\e9da";
}
.icon-copyright-two-tone .path1:before {
  content: "\e9db";
  color: rgb(24, 144, 255);
}
.icon-copyright-two-tone .path2:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-copyright-two-tone .path3:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-copy-two-tone .path1:before {
  content: "\e9de";
  color: rgb(230, 247, 255);
}
.icon-copy-two-tone .path2:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-copy-two-tone .path3:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-credit-card:before {
  content: "\e9e1";
}
.icon-credit-card-filled:before {
  content: "\e9e2";
}
.icon-credit-card-two-tone .path1:before {
  content: "\e9e3";
  color: rgb(230, 247, 255);
}
.icon-credit-card-two-tone .path2:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-credit-card-two-tone .path3:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-crown:before {
  content: "\e9e6";
}
.icon-crown-filled:before {
  content: "\e9e7";
}
.icon-crown-two-tone .path1:before {
  content: "\e9e8";
  color: rgb(230, 247, 255);
}
.icon-crown-two-tone .path2:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-crown-two-tone .path3:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-crown-two-tone .path4:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-customer-service:before {
  content: "\e9ec";
}
.icon-customer-service-filled:before {
  content: "\e9ed";
}
.icon-customer-service-two-tone .path1:before {
  content: "\e9ee";
  color: rgb(230, 247, 255);
}
.icon-customer-service-two-tone .path2:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dash:before {
  content: "\e9f0";
}
.icon-dashboard:before {
  content: "\e9f1";
}
.icon-dashboard-filled:before {
  content: "\e9f2";
}
.icon-dashboard-two-tone .path1:before {
  content: "\e9f3";
  color: rgb(230, 247, 255);
}
.icon-dashboard-two-tone .path2:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dashboard-two-tone .path3:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dashboard-two-tone .path4:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-database:before {
  content: "\e9f7";
}
.icon-database-filled:before {
  content: "\e9f8";
}
.icon-database-two-tone .path1:before {
  content: "\e9f9";
  color: rgb(230, 247, 255);
}
.icon-database-two-tone .path2:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-database-two-tone .path3:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-delete:before {
  content: "\e9fc";
}
.icon-delete-filled:before {
  content: "\e9fd";
}
.icon-delete-two-tone .path1:before {
  content: "\e9fe";
  color: rgb(230, 247, 255);
}
.icon-delete-two-tone .path2:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-deployment-unit:before {
  content: "\ea00";
}
.icon-desktop:before {
  content: "\ea01";
}
.icon-diff:before {
  content: "\ea02";
}
.icon-diff-filled:before {
  content: "\ea03";
}
.icon-diff-two-tone .path1:before {
  content: "\ea04";
  color: rgb(230, 247, 255);
}
.icon-diff-two-tone .path2:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-diff-two-tone .path3:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-diff-two-tone .path4:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dingding:before {
  content: "\ea08";
}
.icon-dingtalk-circle-filled:before {
  content: "\ea09";
}
.icon-dingtalk-square-filled:before {
  content: "\ea0a";
}
.icon-disconnect:before {
  content: "\ea0b";
}
.icon-dislike:before {
  content: "\ea0c";
}
.icon-dislike-filled:before {
  content: "\ea0d";
}
.icon-dislike-two-tone .path1:before {
  content: "\ea0e";
  color: rgb(230, 247, 255);
}
.icon-dislike-two-tone .path2:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dollar:before {
  content: "\ea10";
}
.icon-dollar-circle-filled:before {
  content: "\ea11";
}
.icon-dollar-circle-two-tone .path1:before {
  content: "\ea12";
  color: rgb(24, 144, 255);
}
.icon-dollar-circle-two-tone .path2:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-dollar-circle-two-tone .path3:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-dollar-circle-two-tone .path4:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-dot-chart:before {
  content: "\ea16";
}
.icon-double-left:before {
  content: "\ea17";
}
.icon-double-right:before {
  content: "\ea18";
}
.icon-down:before {
  content: "\ea19";
}
.icon-down-circle:before {
  content: "\ea1a";
}
.icon-down-circle-filled:before {
  content: "\ea1b";
}
.icon-down-circle-two-tone .path1:before {
  content: "\ea1c";
  color: rgb(230, 247, 255);
}
.icon-down-circle-two-tone .path2:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-down-circle-two-tone .path3:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-download:before {
  content: "\ea1f";
}
.icon-down-square:before {
  content: "\ea20";
}
.icon-down-square-filled:before {
  content: "\ea21";
}
.icon-down-square-two-tone .path1:before {
  content: "\ea22";
  color: rgb(24, 144, 255);
}
.icon-down-square-two-tone .path2:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-down-square-two-tone .path3:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-drag:before {
  content: "\ea25";
}
.icon-dribbble:before {
  content: "\ea26";
}
.icon-dribbble-circle-filled:before {
  content: "\ea27";
}
.icon-dribbble-square:before {
  content: "\ea28";
}
.icon-dribbble-square-filled:before {
  content: "\ea29";
}
.icon-dropbox:before {
  content: "\ea2a";
}
.icon-dropbox-circle-filled:before {
  content: "\ea2b";
}
.icon-dropbox-square-filled:before {
  content: "\ea2c";
}
.icon-edit:before {
  content: "\ea2d";
}
.icon-edit-filled:before {
  content: "\ea2e";
}
.icon-edit-two-tone .path1:before {
  content: "\ea2f";
  color: rgb(230, 247, 255);
}
.icon-edit-two-tone .path2:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-ellipsis:before {
  content: "\ea31";
}
.icon-enter:before {
  content: "\ea32";
}
.icon-environment:before {
  content: "\ea33";
}
.icon-environment-filled:before {
  content: "\ea34";
}
.icon-environment-two-tone .path1:before {
  content: "\ea35";
  color: rgb(230, 247, 255);
}
.icon-environment-two-tone .path2:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-environment-two-tone .path3:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-euro:before {
  content: "\ea38";
}
.icon-euro-circle-filled:before {
  content: "\ea39";
}
.icon-euro-circle-two-tone .path1:before {
  content: "\ea3a";
  color: rgb(24, 144, 255);
}
.icon-euro-circle-two-tone .path2:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-euro-circle-two-tone .path3:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-exception:before {
  content: "\ea3d";
}
.icon-exclamation:before {
  content: "\ea3e";
}
.icon-exclamation-circle:before {
  content: "\ea3f";
}
.icon-exclamation-circle-filled:before {
  content: "\ea40";
}
.icon-exclamation-circle-two-tone .path1:before {
  content: "\ea41";
  color: rgb(24, 144, 255);
}
.icon-exclamation-circle-two-tone .path2:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-exclamation-circle-two-tone .path3:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-experiment:before {
  content: "\ea44";
}
.icon-experiment-filled:before {
  content: "\ea45";
}
.icon-experiment-two-tone .path1:before {
  content: "\ea46";
  color: rgb(230, 247, 255);
}
.icon-experiment-two-tone .path2:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-experiment-two-tone .path3:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-export:before {
  content: "\ea49";
}
.icon-eye:before {
  content: "\ea4a";
}
.icon-eye-filled:before {
  content: "\ea4b";
}
.icon-eye-invisible:before {
  content: "\ea4c";
}
.icon-eye-invisible-filled:before {
  content: "\ea4d";
}
.icon-eye-invisible-two-tone .path1:before {
  content: "\ea4e";
  color: rgb(230, 247, 255);
}
.icon-eye-invisible-two-tone .path2:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-eye-invisible-two-tone .path3:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-eye-invisible-two-tone .path4:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-eye-invisible-two-tone .path5:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-eye-two-tone .path1:before {
  content: "\ea53";
  color: rgb(230, 247, 255);
}
.icon-eye-two-tone .path2:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-eye-two-tone .path3:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-eye-two-tone .path4:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-facebook:before {
  content: "\ea57";
}
.icon-facebook-filled:before {
  content: "\ea58";
}
.icon-fall:before {
  content: "\ea59";
}
.icon-fast-backward:before {
  content: "\ea5a";
}
.icon-fast-backward-filled:before {
  content: "\ea5b";
}
.icon-fast-forward:before {
  content: "\ea5c";
}
.icon-fast-forward-filled:before {
  content: "\ea5d";
}
.icon-file:before {
  content: "\ea5e";
}
.icon-file-add:before {
  content: "\ea5f";
}
.icon-file-add-filled:before {
  content: "\ea60";
}
.icon-file-add-two-tone .path1:before {
  content: "\ea61";
  color: rgb(230, 247, 255);
}
.icon-file-add-two-tone .path2:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-add-two-tone .path3:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-done:before {
  content: "\ea64";
}
.icon-file-excel:before {
  content: "\ea65";
}
.icon-file-excel-filled:before {
  content: "\ea66";
}
.icon-file-excel-two-tone .path1:before {
  content: "\ea67";
  color: rgb(230, 247, 255);
}
.icon-file-excel-two-tone .path2:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-excel-two-tone .path3:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-exclamation:before {
  content: "\ea6a";
}
.icon-file-exclamation-filled:before {
  content: "\ea6b";
}
.icon-file-exclamation-two-tone .path1:before {
  content: "\ea6c";
  color: rgb(230, 247, 255);
}
.icon-file-exclamation-two-tone .path2:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-exclamation-two-tone .path3:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-filled:before {
  content: "\ea6f";
}
.icon-file-image:before {
  content: "\ea70";
}
.icon-file-image-filled:before {
  content: "\ea71";
}
.icon-file-image-two-tone .path1:before {
  content: "\ea72";
  color: rgb(230, 247, 255);
}
.icon-file-image-two-tone .path2:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-image-two-tone .path3:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-jpg:before {
  content: "\ea75";
}
.icon-file-markdown:before {
  content: "\ea76";
}
.icon-file-markdown-filled:before {
  content: "\ea77";
}
.icon-file-markdown-two-tone .path1:before {
  content: "\ea78";
  color: rgb(230, 247, 255);
}
.icon-file-markdown-two-tone .path2:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-markdown-two-tone .path3:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-pdf:before {
  content: "\ea7b";
}
.icon-file-pdf-filled:before {
  content: "\ea7c";
}
.icon-file-pdf-two-tone .path1:before {
  content: "\ea7d";
  color: rgb(230, 247, 255);
}
.icon-file-pdf-two-tone .path2:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-file-pdf-two-tone .path3:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-file-pdf-two-tone .path4:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-pdf-two-tone .path5:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-ppt:before {
  content: "\ea82";
}
.icon-file-ppt-filled:before {
  content: "\ea83";
}
.icon-file-ppt-two-tone .path1:before {
  content: "\ea84";
  color: rgb(230, 247, 255);
}
.icon-file-ppt-two-tone .path2:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-file-ppt-two-tone .path3:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-ppt-two-tone .path4:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-protect:before {
  content: "\ea88";
}
.icon-file-search:before {
  content: "\ea89";
}
.icon-file-sync:before {
  content: "\ea8a";
}
.icon-file-text:before {
  content: "\ea8b";
}
.icon-file-text-filled:before {
  content: "\ea8c";
}
.icon-file-text-two-tone .path1:before {
  content: "\ea8d";
  color: rgb(230, 247, 255);
}
.icon-file-text-two-tone .path2:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-text-two-tone .path3:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-two-tone .path1:before {
  content: "\ea90";
  color: rgb(230, 247, 255);
}
.icon-file-two-tone .path2:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-unknown:before {
  content: "\ea92";
}
.icon-file-unknown-filled:before {
  content: "\ea93";
}
.icon-file-unknown-two-tone .path1:before {
  content: "\ea94";
  color: rgb(230, 247, 255);
}
.icon-file-unknown-two-tone .path2:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-unknown-two-tone .path3:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-word:before {
  content: "\ea97";
}
.icon-file-word-filled:before {
  content: "\ea98";
}
.icon-file-word-two-tone .path1:before {
  content: "\ea99";
  color: rgb(230, 247, 255);
}
.icon-file-word-two-tone .path2:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-word-two-tone .path3:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-zip:before {
  content: "\ea9c";
}
.icon-file-zip-filled:before {
  content: "\ea9d";
}
.icon-file-zip-two-tone .path1:before {
  content: "\ea9e";
  color: rgb(230, 247, 255);
}
.icon-file-zip-two-tone .path2:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-file-zip-two-tone .path3:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-file-zip-two-tone .path4:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-filter:before {
  content: "\eaa2";
}
.icon-filter-filled:before {
  content: "\eaa3";
}
.icon-filter-two-tone .path1:before {
  content: "\eaa4";
  color: rgb(230, 247, 255);
}
.icon-filter-two-tone .path2:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-fire:before {
  content: "\eaa6";
}
.icon-fire-filled:before {
  content: "\eaa7";
}
.icon-fire-two-tone .path1:before {
  content: "\eaa8";
  color: rgb(230, 247, 255);
}
.icon-fire-two-tone .path2:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-flag:before {
  content: "\eaaa";
}
.icon-flag-filled:before {
  content: "\eaab";
}
.icon-flag-two-tone .path1:before {
  content: "\eaac";
  color: rgb(230, 247, 255);
}
.icon-flag-two-tone .path2:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-flag-two-tone .path3:before {
  content: "\eaae";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-folder:before {
  content: "\eaaf";
}
.icon-folder-add:before {
  content: "\eab0";
}
.icon-folder-add-filled:before {
  content: "\eab1";
}
.icon-folder-add-two-tone .path1:before {
  content: "\eab2";
  color: rgb(230, 247, 255);
}
.icon-folder-add-two-tone .path2:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-folder-add-two-tone .path3:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-folder-filled:before {
  content: "\eab5";
}
.icon-folder-open:before {
  content: "\eab6";
}
.icon-folder-open-filled:before {
  content: "\eab7";
}
.icon-folder-open-two-tone .path1:before {
  content: "\eab8";
  color: rgb(230, 247, 255);
}
.icon-folder-open-two-tone .path2:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-folder-two-tone .path1:before {
  content: "\eaba";
  color: rgb(24, 144, 255);
}
.icon-folder-two-tone .path2:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-font-colors:before {
  content: "\eabc";
}
.icon-font-size:before {
  content: "\eabd";
}
.icon-fork:before {
  content: "\eabe";
}
.icon-form:before {
  content: "\eabf";
}
.icon-forward:before {
  content: "\eac0";
}
.icon-forward-filled:before {
  content: "\eac1";
}
.icon-frown:before {
  content: "\eac2";
}
.icon-frown-filled:before {
  content: "\eac3";
}
.icon-frown-two-tone .path1:before {
  content: "\eac4";
  color: rgb(24, 144, 255);
}
.icon-frown-two-tone .path2:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-frown-two-tone .path3:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-fullscreen:before {
  content: "\eac7";
}
.icon-fullscreen-exit:before {
  content: "\eac8";
}
.icon-fund:before {
  content: "\eac9";
}
.icon-fund-filled:before {
  content: "\eaca";
}
.icon-fund-two-tone .path1:before {
  content: "\eacb";
  color: rgb(24, 144, 255);
}
.icon-fund-two-tone .path2:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-fund-two-tone .path3:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-funnel-plot:before {
  content: "\eace";
}
.icon-funnel-plot-filled:before {
  content: "\eacf";
}
.icon-funnel-plot-two-tone .path1:before {
  content: "\ead0";
  color: rgb(230, 247, 255);
}
.icon-funnel-plot-two-tone .path2:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-gateway:before {
  content: "\ead2";
}
.icon-gift:before {
  content: "\ead3";
}
.icon-gift-filled:before {
  content: "\ead4";
}
.icon-gift-two-tone .path1:before {
  content: "\ead5";
  color: rgb(230, 247, 255);
}
.icon-gift-two-tone .path2:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-github:before {
  content: "\ead7";
}
.icon-github-filled:before {
  content: "\ead8";
}
.icon-gitlab:before {
  content: "\ead9";
}
.icon-gitlab-filled:before {
  content: "\eada";
}
.icon-global:before {
  content: "\eadb";
}
.icon-gold:before {
  content: "\eadc";
}
.icon-golden-filled:before {
  content: "\eadd";
}
.icon-gold-two-tone .path1:before {
  content: "\eade";
  color: rgb(24, 144, 255);
}
.icon-gold-two-tone .path2:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-google:before {
  content: "\eae0";
}
.icon-google-circle-filled:before {
  content: "\eae1";
}
.icon-google-plus:before {
  content: "\eae2";
}
.icon-google-plus-circle-filled:before {
  content: "\eae3";
}
.icon-google-plus-square-filled:before {
  content: "\eae4";
}
.icon-google-square-filled:before {
  content: "\eae5";
}
.icon-hdd:before {
  content: "\eae6";
}
.icon-hdd-filled:before {
  content: "\eae7";
}
.icon-hdd-two-tone .path1:before {
  content: "\eae8";
  color: rgb(230, 247, 255);
}
.icon-hdd-two-tone .path2:before {
  content: "\eae9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-hdd-two-tone .path3:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-heart:before {
  content: "\eaeb";
}
.icon-heart-filled:before {
  content: "\eaec";
}
.icon-heart-two-tone .path1:before {
  content: "\eaed";
  color: rgb(24, 144, 255);
}
.icon-heart-two-tone .path2:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-heat-map:before {
  content: "\eaef";
}
.icon-highlight:before {
  content: "\eaf0";
}
.icon-highlight-filled:before {
  content: "\eaf1";
}
.icon-highlight-two-tone .path1:before {
  content: "\eaf2";
  color: rgb(230, 247, 255);
}
.icon-highlight-two-tone .path2:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-history:before {
  content: "\eaf4";
}
.icon-home:before {
  content: "\eaf5";
}
.icon-home-filled:before {
  content: "\eaf6";
}
.icon-home-two-tone .path1:before {
  content: "\eaf7";
  color: rgb(230, 247, 255);
}
.icon-home-two-tone .path2:before {
  content: "\eaf8";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-hourglass:before {
  content: "\eaf9";
}
.icon-hourglass-filled:before {
  content: "\eafa";
}
.icon-hourglass-two-tone .path1:before {
  content: "\eafb";
  color: rgb(230, 247, 255);
}
.icon-hourglass-two-tone .path2:before {
  content: "\eafc";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-html5:before {
  content: "\eafd";
}
.icon-html5-filled:before {
  content: "\eafe";
}
.icon-html5-two-tone .path1:before {
  content: "\eaff";
  color: rgb(24, 144, 255);
}
.icon-html5-two-tone .path2:before {
  content: "\eb00";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-html5-two-tone .path3:before {
  content: "\eb01";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-idcard:before {
  content: "\eb02";
}
.icon-idcard-filled:before {
  content: "\eb03";
}
.icon-idcard-two-tone .path1:before {
  content: "\eb04";
  color: rgb(24, 144, 255);
}
.icon-idcard-two-tone .path2:before {
  content: "\eb05";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-idcard-two-tone .path3:before {
  content: "\eb06";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-idcard-two-tone .path4:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-ie:before {
  content: "\eb08";
}
.icon-ie-circle-filled:before {
  content: "\eb09";
}
.icon-ie-square-filled:before {
  content: "\eb0a";
}
.icon-import:before {
  content: "\eb0b";
}
.icon-inbox:before {
  content: "\eb0c";
}
.icon-info:before {
  content: "\eb0d";
}
.icon-info-circle:before {
  content: "\eb0e";
}
.icon-info-circle-filled:before {
  content: "\eb0f";
}
.icon-info-circle-two-tone .path1:before {
  content: "\eb10";
  color: rgb(24, 144, 255);
}
.icon-info-circle-two-tone .path2:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-info-circle-two-tone .path3:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-instagram:before {
  content: "\eb13";
}
.icon-instagram-filled:before {
  content: "\eb14";
}
.icon-insurance:before {
  content: "\eb15";
}
.icon-insurance-filled:before {
  content: "\eb16";
}
.icon-insurance-two-tone .path1:before {
  content: "\eb17";
  color: rgb(24, 144, 255);
}
.icon-insurance-two-tone .path2:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-insurance-two-tone .path3:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-insurance-two-tone .path4:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-interaction-filled:before {
  content: "\eb1b";
}
.icon-interaction-two-tone .path1:before {
  content: "\eb1c";
  color: rgb(24, 144, 255);
}
.icon-interaction-two-tone .path2:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-interaction-two-tone .path3:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-interation:before {
  content: "\eb1f";
}
.icon-issues-close:before {
  content: "\eb20";
}
.icon-italic:before {
  content: "\eb21";
}
.icon-key:before {
  content: "\eb22";
}
.icon-laptop:before {
  content: "\eb23";
}
.icon-layout:before {
  content: "\eb24";
}
.icon-layout-filled:before {
  content: "\eb25";
}
.icon-layout-two-tone .path1:before {
  content: "\eb26";
  color: rgb(230, 247, 255);
}
.icon-layout-two-tone .path2:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-left:before {
  content: "\eb28";
}
.icon-left-circle:before {
  content: "\eb29";
}
.icon-left-circle-filled:before {
  content: "\eb2a";
}
.icon-left-circle-two-tone .path1:before {
  content: "\eb2b";
  color: rgb(230, 247, 255);
}
.icon-left-circle-two-tone .path2:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-left-circle-two-tone .path3:before {
  content: "\eb2d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-left-square:before {
  content: "\eb2e";
}
.icon-left-square-filled:before {
  content: "\eb2f";
}
.icon-left-square-two-tone .path1:before {
  content: "\eb30";
  color: rgb(24, 144, 255);
}
.icon-left-square-two-tone .path2:before {
  content: "\eb31";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-left-square-two-tone .path3:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-like:before {
  content: "\eb33";
}
.icon-like-filled:before {
  content: "\eb34";
}
.icon-like-two-tone .path1:before {
  content: "\eb35";
  color: rgb(230, 247, 255);
}
.icon-like-two-tone .path2:before {
  content: "\eb36";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-line:before {
  content: "\eb37";
}
.icon-line-chart:before {
  content: "\eb38";
}
.icon-line-height:before {
  content: "\eb39";
}
.icon-link:before {
  content: "\eb3a";
}
.icon-linkedin:before {
  content: "\eb3b";
}
.icon-linkedin-filled:before {
  content: "\eb3c";
}
.icon-loading:before {
  content: "\eb3d";
}
.icon-loading-3-quarters:before {
  content: "\eb3e";
}
.icon-lock:before {
  content: "\eb3f";
}
.icon-lock-filled:before {
  content: "\eb40";
}
.icon-lock-two-tone .path1:before {
  content: "\eb41";
  color: rgb(24, 144, 255);
}
.icon-lock-two-tone .path2:before {
  content: "\eb42";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-lock-two-tone .path3:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-login:before {
  content: "\eb44";
}
.icon-logout:before {
  content: "\eb45";
}
.icon-mail:before {
  content: "\eb46";
}
.icon-mail-filled:before {
  content: "\eb47";
}
.icon-mail-two-tone .path1:before {
  content: "\eb48";
  color: rgb(230, 247, 255);
}
.icon-mail-two-tone .path2:before {
  content: "\eb49";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-mail-two-tone .path3:before {
  content: "\eb4a";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-man:before {
  content: "\eb4b";
}
.icon-medicine-box:before {
  content: "\eb4c";
}
.icon-medicine-box-filled:before {
  content: "\eb4d";
}
.icon-medicine-box-two-tone .path1:before {
  content: "\eb4e";
  color: rgb(230, 247, 255);
}
.icon-medicine-box-two-tone .path2:before {
  content: "\eb4f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-medicine-box-two-tone .path3:before {
  content: "\eb50";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-medium:before {
  content: "\eb51";
}
.icon-medium-circle-filled:before {
  content: "\eb52";
}
.icon-medium-square-filled:before {
  content: "\eb53";
}
.icon-medium-workmark:before {
  content: "\eb54";
}
.icon-meh:before {
  content: "\eb55";
}
.icon-meh-filled:before {
  content: "\eb56";
}
.icon-meh-two-tone .path1:before {
  content: "\eb57";
  color: rgb(24, 144, 255);
}
.icon-meh-two-tone .path2:before {
  content: "\eb58";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-meh-two-tone .path3:before {
  content: "\eb59";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-menu:before {
  content: "\eb5a";
}
.icon-menu-fold:before {
  content: "\eb5b";
}
.icon-menu-unfold:before {
  content: "\eb5c";
}
.icon-message:before {
  content: "\eb5d";
}
.icon-message-filled:before {
  content: "\eb5e";
}
.icon-message-two-tone .path1:before {
  content: "\eb5f";
  color: rgb(230, 247, 255);
}
.icon-message-two-tone .path2:before {
  content: "\eb60";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-message-two-tone .path3:before {
  content: "\eb61";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-message-two-tone .path4:before {
  content: "\eb62";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-minus:before {
  content: "\eb63";
}
.icon-minus-circle:before {
  content: "\eb64";
}
.icon-minus-circle-filled:before {
  content: "\eb65";
}
.icon-minus-circle-two-tone .path1:before {
  content: "\eb66";
  color: rgb(24, 144, 255);
}
.icon-minus-circle-two-tone .path2:before {
  content: "\eb67";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-minus-circle-two-tone .path3:before {
  content: "\eb68";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-minus-square:before {
  content: "\eb69";
}
.icon-minus-square-filled:before {
  content: "\eb6a";
}
.icon-minus-square-two-tone .path1:before {
  content: "\eb6b";
  color: rgb(24, 144, 255);
}
.icon-minus-square-two-tone .path2:before {
  content: "\eb6c";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-minus-square-two-tone .path3:before {
  content: "\eb6d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-mobile:before {
  content: "\eb6e";
}
.icon-mobile-filled:before {
  content: "\eb6f";
}
.icon-mobile-two-tone .path1:before {
  content: "\eb70";
  color: rgb(24, 144, 255);
}
.icon-mobile-two-tone .path2:before {
  content: "\eb71";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-mobile-two-tone .path3:before {
  content: "\eb72";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-money-collect:before {
  content: "\eb73";
}
.icon-money-collect-filled:before {
  content: "\eb74";
}
.icon-money-collect-two-tone .path1:before {
  content: "\eb75";
  color: rgb(230, 247, 255);
}
.icon-money-collect-two-tone .path2:before {
  content: "\eb76";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-money-collect-two-tone .path3:before {
  content: "\eb77";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-monitor:before {
  content: "\eb78";
}
.icon-more:before {
  content: "\eb79";
}
.icon-notification:before {
  content: "\eb7a";
}
.icon-notification-filled:before {
  content: "\eb7b";
}
.icon-notification-two-tone .path1:before {
  content: "\eb7c";
  color: rgb(230, 247, 255);
}
.icon-notification-two-tone .path2:before {
  content: "\eb7d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-number:before {
  content: "\eb7e";
}
.icon-ordered-list:before {
  content: "\eb7f";
}
.icon-paper-clip:before {
  content: "\eb80";
}
.icon-pause:before {
  content: "\eb81";
}
.icon-pause-circle:before {
  content: "\eb82";
}
.icon-pause-circle-filled:before {
  content: "\eb83";
}
.icon-pause-circle-two-tone .path1:before {
  content: "\eb84";
  color: rgb(24, 144, 255);
}
.icon-pause-circle-two-tone .path2:before {
  content: "\eb85";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-pause-circle-two-tone .path3:before {
  content: "\eb86";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pay-circle:before {
  content: "\eb87";
}
.icon-pay-circle-filled:before {
  content: "\eb88";
}
.icon-percentage:before {
  content: "\eb89";
}
.icon-phone:before {
  content: "\eb8a";
}
.icon-phone-filled:before {
  content: "\eb8b";
}
.icon-phone-two-tone .path1:before {
  content: "\eb8c";
  color: rgb(230, 247, 255);
}
.icon-phone-two-tone .path2:before {
  content: "\eb8d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pic-center:before {
  content: "\eb8e";
}
.icon-pic-left:before {
  content: "\eb8f";
}
.icon-pic-right:before {
  content: "\eb90";
}
.icon-picture:before {
  content: "\eb91";
}
.icon-picture-filled:before {
  content: "\eb92";
}
.icon-picture-two-tone .path1:before {
  content: "\eb93";
  color: rgb(24, 144, 255);
}
.icon-picture-two-tone .path2:before {
  content: "\eb94";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-picture-two-tone .path3:before {
  content: "\eb95";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-picture-two-tone .path4:before {
  content: "\eb96";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-picture-two-tone .path5:before {
  content: "\eb97";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pie-chart:before {
  content: "\eb98";
}
.icon-pie-chart-filled:before {
  content: "\eb99";
}
.icon-pie-chart-two-tone .path1:before {
  content: "\eb9a";
  color: rgb(230, 247, 255);
}
.icon-pie-chart-two-tone .path2:before {
  content: "\eb9b";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-pie-chart-two-tone .path3:before {
  content: "\eb9c";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-pie-chart-two-tone .path4:before {
  content: "\eb9d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pie-chart-two-tone .path5:before {
  content: "\eb9e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-play-circle:before {
  content: "\eb9f";
}
.icon-play-circle-filled:before {
  content: "\eba0";
}
.icon-play-circle-two-tone .path1:before {
  content: "\eba1";
  color: rgb(24, 144, 255);
}
.icon-play-circle-two-tone .path2:before {
  content: "\eba2";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-play-circle-two-tone .path3:before {
  content: "\eba3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-play-square:before {
  content: "\eba4";
}
.icon-play-square-filled:before {
  content: "\eba5";
}
.icon-play-square-two-tone .path1:before {
  content: "\eba6";
  color: rgb(24, 144, 255);
}
.icon-play-square-two-tone .path2:before {
  content: "\eba7";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-play-square-two-tone .path3:before {
  content: "\eba8";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-plus:before {
  content: "\eba9";
}
.icon-plus-circle:before {
  content: "\ebaa";
}
.icon-plus-circle-filled:before {
  content: "\ebab";
}
.icon-plus-circle-two-tone .path1:before {
  content: "\ebac";
  color: rgb(24, 144, 255);
}
.icon-plus-circle-two-tone .path2:before {
  content: "\ebad";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-plus-circle-two-tone .path3:before {
  content: "\ebae";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-plus-square:before {
  content: "\ebaf";
}
.icon-plus-square-filled:before {
  content: "\ebb0";
}
.icon-plus-square-two-tone .path1:before {
  content: "\ebb1";
  color: rgb(24, 144, 255);
}
.icon-plus-square-two-tone .path2:before {
  content: "\ebb2";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-plus-square-two-tone .path3:before {
  content: "\ebb3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pound:before {
  content: "\ebb4";
}
.icon-pound-circle-filled:before {
  content: "\ebb5";
}
.icon-pound-circle-two-tone .path1:before {
  content: "\ebb6";
  color: rgb(24, 144, 255);
}
.icon-pound-circle-two-tone .path2:before {
  content: "\ebb7";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-pound-circle-two-tone .path3:before {
  content: "\ebb8";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-poweroff:before {
  content: "\ebb9";
}
.icon-printer:before {
  content: "\ebba";
}
.icon-printer-filled:before {
  content: "\ebbb";
}
.icon-printer-two-tone .path1:before {
  content: "\ebbc";
  color: rgb(230, 247, 255);
}
.icon-printer-two-tone .path2:before {
  content: "\ebbd";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-printer-two-tone .path3:before {
  content: "\ebbe";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-profile:before {
  content: "\ebbf";
}
.icon-profile-filled:before {
  content: "\ebc0";
}
.icon-profile-two-tone .path1:before {
  content: "\ebc1";
  color: rgb(24, 144, 255);
}
.icon-profile-two-tone .path2:before {
  content: "\ebc2";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-profile-two-tone .path3:before {
  content: "\ebc3";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-project:before {
  content: "\ebc4";
}
.icon-project-filled:before {
  content: "\ebc5";
}
.icon-project-two-tone .path1:before {
  content: "\ebc6";
  color: rgb(24, 144, 255);
}
.icon-project-two-tone .path2:before {
  content: "\ebc7";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-project-two-tone .path3:before {
  content: "\ebc8";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-property-safety:before {
  content: "\ebc9";
}
.icon-property-safety-filled:before {
  content: "\ebca";
}
.icon-property-safety-two-tone .path1:before {
  content: "\ebcb";
  color: rgb(24, 144, 255);
}
.icon-property-safety-two-tone .path2:before {
  content: "\ebcc";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-property-safety-two-tone .path3:before {
  content: "\ebcd";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-pull-request:before {
  content: "\ebce";
}
.icon-pushpin:before {
  content: "\ebcf";
}
.icon-pushpin-filled:before {
  content: "\ebd0";
}
.icon-pushpin-two-tone .path1:before {
  content: "\ebd1";
  color: rgb(230, 247, 255);
}
.icon-pushpin-two-tone .path2:before {
  content: "\ebd2";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-qq:before {
  content: "\ebd3";
}
.icon-qq-circle-filled:before {
  content: "\ebd4";
}
.icon-qq-square-filled:before {
  content: "\ebd5";
}
.icon-qrcode:before {
  content: "\ebd6";
}
.icon-question:before {
  content: "\ebd7";
}
.icon-question-circle:before {
  content: "\ebd8";
}
.icon-question-circle-filled:before {
  content: "\ebd9";
}
.icon-question-circle-two-tone .path1:before {
  content: "\ebda";
  color: rgb(24, 144, 255);
}
.icon-question-circle-two-tone .path2:before {
  content: "\ebdb";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-question-circle-two-tone .path3:before {
  content: "\ebdc";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-radar-chart:before {
  content: "\ebdd";
}
.icon-radius-bottomleft:before {
  content: "\ebde";
}
.icon-radius-bottomright:before {
  content: "\ebdf";
}
.icon-radius-setting:before {
  content: "\ebe0";
}
.icon-radius-upleft:before {
  content: "\ebe1";
}
.icon-radius-upright:before {
  content: "\ebe2";
}
.icon-read:before {
  content: "\ebe3";
}
.icon-read-filled:before {
  content: "\ebe4";
}
.icon-reconciliation:before {
  content: "\ebe5";
}
.icon-reconciliation-filled:before {
  content: "\ebe6";
}
.icon-reconciliation-two-tone .path1:before {
  content: "\ebe7";
  color: rgb(230, 247, 255);
}
.icon-reconciliation-two-tone .path2:before {
  content: "\ebe8";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-reconciliation-two-tone .path3:before {
  content: "\ebe9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-reconciliation-two-tone .path4:before {
  content: "\ebea";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-reconciliation-two-tone .path5:before {
  content: "\ebeb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-reddit:before {
  content: "\ebec";
}
.icon-reddit-circle-filled:before {
  content: "\ebed";
}
.icon-reddit-square-filled:before {
  content: "\ebee";
}
.icon-red-envelope:before {
  content: "\ebef";
}
.icon-red-envelope-filled:before {
  content: "\ebf0";
}
.icon-red-envelope-two-tone .path1:before {
  content: "\ebf1";
  color: rgb(24, 144, 255);
}
.icon-red-envelope-two-tone .path2:before {
  content: "\ebf2";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-red-envelope-two-tone .path3:before {
  content: "\ebf3";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-red-envelope-two-tone .path4:before {
  content: "\ebf4";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-redo:before {
  content: "\ebf5";
}
.icon-reload:before {
  content: "\ebf6";
}
.icon-rest:before {
  content: "\ebf7";
}
.icon-rest-filled:before {
  content: "\ebf8";
}
.icon-rest-two-tone .path1:before {
  content: "\ebf9";
  color: rgb(230, 247, 255);
}
.icon-rest-two-tone .path2:before {
  content: "\ebfa";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-rest-two-tone .path3:before {
  content: "\ebfb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-retweet:before {
  content: "\ebfc";
}
.icon-right:before {
  content: "\ebfd";
}
.icon-right-circle:before {
  content: "\ebfe";
}
.icon-right-circle-filled:before {
  content: "\ebff";
}
.icon-right-circle-two-tone .path1:before {
  content: "\ec00";
  color: rgb(230, 247, 255);
}
.icon-right-circle-two-tone .path2:before {
  content: "\ec01";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-right-circle-two-tone .path3:before {
  content: "\ec02";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-right-square:before {
  content: "\ec03";
}
.icon-right-square-filled:before {
  content: "\ec04";
}
.icon-right-square-two-tone .path1:before {
  content: "\ec05";
  color: rgb(24, 144, 255);
}
.icon-right-square-two-tone .path2:before {
  content: "\ec06";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-right-square-two-tone .path3:before {
  content: "\ec07";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-rise:before {
  content: "\ec08";
}
.icon-robot:before {
  content: "\ec09";
}
.icon-rocket:before {
  content: "\ec0a";
}
.icon-rocket-filled:before {
  content: "\ec0b";
}
.icon-rocket-two-tone .path1:before {
  content: "\ec0c";
  color: rgb(230, 247, 255);
}
.icon-rocket-two-tone .path2:before {
  content: "\ec0d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-rocket-two-tone .path3:before {
  content: "\ec0e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-rollback:before {
  content: "\ec0f";
}
.icon-safety:before {
  content: "\ec10";
}
.icon-safety-certificate:before {
  content: "\ec11";
}
.icon-safety-certificate-filled:before {
  content: "\ec12";
}
.icon-safety-certificate-two-tone .path1:before {
  content: "\ec13";
  color: rgb(24, 144, 255);
}
.icon-safety-certificate-two-tone .path2:before {
  content: "\ec14";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-safety-certificate-two-tone .path3:before {
  content: "\ec15";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-save:before {
  content: "\ec16";
}
.icon-save-filled:before {
  content: "\ec17";
}
.icon-save-two-tone .path1:before {
  content: "\ec18";
  color: rgb(230, 247, 255);
}
.icon-save-two-tone .path2:before {
  content: "\ec19";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-save-two-tone .path3:before {
  content: "\ec1a";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-scan:before {
  content: "\ec1b";
}
.icon-schedule:before {
  content: "\ec1c";
}
.icon-schedule-filled:before {
  content: "\ec1d";
}
.icon-schedule-two-tone .path1:before {
  content: "\ec1e";
  color: rgb(230, 247, 255);
}
.icon-schedule-two-tone .path2:before {
  content: "\ec1f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-schedule-two-tone .path3:before {
  content: "\ec20";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-schedule-two-tone .path4:before {
  content: "\ec21";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-scissor:before {
  content: "\ec22";
}
.icon-search:before {
  content: "\ec23";
}
.icon-security-scan:before {
  content: "\ec24";
}
.icon-security-scan-filled:before {
  content: "\ec25";
}
.icon-security-scan-two-tone .path1:before {
  content: "\ec26";
  color: rgb(24, 144, 255);
}
.icon-security-scan-two-tone .path2:before {
  content: "\ec27";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-security-scan-two-tone .path3:before {
  content: "\ec28";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-security-scan-two-tone .path4:before {
  content: "\ec29";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-select:before {
  content: "\ec2a";
}
.icon-setting:before {
  content: "\ec2b";
}
.icon-setting-filled:before {
  content: "\ec2c";
}
.icon-setting-two-tone .path1:before {
  content: "\ec2d";
  color: rgb(230, 247, 255);
}
.icon-setting-two-tone .path2:before {
  content: "\ec2e";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-setting-two-tone .path3:before {
  content: "\ec2f";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-setting-two-tone .path4:before {
  content: "\ec30";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-shake:before {
  content: "\ec31";
}
.icon-share-alt:before {
  content: "\ec32";
}
.icon-shop:before {
  content: "\ec33";
}
.icon-shop-filled:before {
  content: "\ec34";
}
.icon-shopping:before {
  content: "\ec35";
}
.icon-shopping-cart:before {
  content: "\ec36";
}
.icon-shopping-filled:before {
  content: "\ec37";
}
.icon-shopping-two-tone .path1:before {
  content: "\ec38";
  color: rgb(230, 247, 255);
}
.icon-shopping-two-tone .path2:before {
  content: "\ec39";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-shop-two-tone .path1:before {
  content: "\ec3a";
  color: rgb(230, 247, 255);
}
.icon-shop-two-tone .path2:before {
  content: "\ec3b";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-shrink:before {
  content: "\ec3c";
}
.icon-sketch:before {
  content: "\ec3d";
}
.icon-sketch-circle-filled:before {
  content: "\ec3e";
}
.icon-sketch-square-filled:before {
  content: "\ec3f";
}
.icon-skin:before {
  content: "\ec40";
}
.icon-skin-filled:before {
  content: "\ec41";
}
.icon-skin-two-tone .path1:before {
  content: "\ec42";
  color: rgb(230, 247, 255);
}
.icon-skin-two-tone .path2:before {
  content: "\ec43";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-skype:before {
  content: "\ec44";
}
.icon-skype-filled:before {
  content: "\ec45";
}
.icon-slack:before {
  content: "\ec46";
}
.icon-slack-circle-filled:before {
  content: "\ec47";
}
.icon-slack-square:before {
  content: "\ec48";
}
.icon-slack-square-filled:before {
  content: "\ec49";
}
.icon-sliders:before {
  content: "\ec4a";
}
.icon-sliders-filled:before {
  content: "\ec4b";
}
.icon-sliders-two-tone .path1:before {
  content: "\ec4c";
  color: rgb(230, 247, 255);
}
.icon-sliders-two-tone .path2:before {
  content: "\ec4d";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-small-dash:before {
  content: "\ec4e";
}
.icon-smile:before {
  content: "\ec4f";
}
.icon-smile-filled:before {
  content: "\ec50";
}
.icon-smile-two-tone .path1:before {
  content: "\ec51";
  color: rgb(24, 144, 255);
}
.icon-smile-two-tone .path2:before {
  content: "\ec52";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-smile-two-tone .path3:before {
  content: "\ec53";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-snippets:before {
  content: "\ec54";
}
.icon-snippets-filled:before {
  content: "\ec55";
}
.icon-snippets-two-tone .path1:before {
  content: "\ec56";
  color: rgb(230, 247, 255);
}
.icon-snippets-two-tone .path2:before {
  content: "\ec57";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-solution:before {
  content: "\ec58";
}
.icon-sort-ascending:before {
  content: "\ec59";
}
.icon-sort-descending:before {
  content: "\ec5a";
}
.icon-sound:before {
  content: "\ec5b";
}
.icon-sound-filled:before {
  content: "\ec5c";
}
.icon-sound-two-tone .path1:before {
  content: "\ec5d";
  color: rgb(230, 247, 255);
}
.icon-sound-two-tone .path2:before {
  content: "\ec5e";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-star:before {
  content: "\ec5f";
}
.icon-star-filled:before {
  content: "\ec60";
}
.icon-star-two-tone .path1:before {
  content: "\ec61";
  color: rgb(230, 247, 255);
}
.icon-star-two-tone .path2:before {
  content: "\ec62";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-step-backward:before {
  content: "\ec63";
}
.icon-step-backward-filled:before {
  content: "\ec64";
}
.icon-step-forward:before {
  content: "\ec65";
}
.icon-step-forward-filled:before {
  content: "\ec66";
}
.icon-stock:before {
  content: "\ec67";
}
.icon-stop:before {
  content: "\ec68";
}
.icon-stop-filled:before {
  content: "\ec69";
}
.icon-stop-two-tone .path1:before {
  content: "\ec6a";
  color: rgb(24, 144, 255);
}
.icon-stop-two-tone .path2:before {
  content: "\ec6b";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-strikethrough:before {
  content: "\ec6c";
}
.icon-swap:before {
  content: "\ec6d";
}
.icon-swap-left:before {
  content: "\ec6e";
}
.icon-swap-right:before {
  content: "\ec6f";
}
.icon-switcher:before {
  content: "\ec70";
}
.icon-switcher-filled:before {
  content: "\ec71";
}
.icon-switcher-two-tone .path1:before {
  content: "\ec72";
  color: rgb(230, 247, 255);
}
.icon-switcher-two-tone .path2:before {
  content: "\ec73";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-switcher-two-tone .path3:before {
  content: "\ec74";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-switcher-two-tone .path4:before {
  content: "\ec75";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-sync:before {
  content: "\ec76";
}
.icon-table:before {
  content: "\ec77";
}
.icon-tablet:before {
  content: "\ec78";
}
.icon-tablet-filled:before {
  content: "\ec79";
}
.icon-tablet-two-tone .path1:before {
  content: "\ec7a";
  color: rgb(24, 144, 255);
}
.icon-tablet-two-tone .path2:before {
  content: "\ec7b";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-tablet-two-tone .path3:before {
  content: "\ec7c";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-tag:before {
  content: "\ec7d";
}
.icon-tag-filled:before {
  content: "\ec7e";
}
.icon-tags:before {
  content: "\ec7f";
}
.icon-tags-filled:before {
  content: "\ec80";
}
.icon-tags-two-tone .path1:before {
  content: "\ec81";
  color: rgb(230, 247, 255);
}
.icon-tags-two-tone .path2:before {
  content: "\ec82";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-tags-two-tone .path3:before {
  content: "\ec83";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-tags-two-tone .path4:before {
  content: "\ec84";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-tag-two-tone .path1:before {
  content: "\ec85";
  color: rgb(230, 247, 255);
}
.icon-tag-two-tone .path2:before {
  content: "\ec86";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-tag-two-tone .path3:before {
  content: "\ec87";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-taobao:before {
  content: "\ec88";
}
.icon-taobao-circle:before {
  content: "\ec89";
}
.icon-taobao-circle-filled:before {
  content: "\ec8a";
}
.icon-taobao-square-filled:before {
  content: "\ec8b";
}
.icon-team:before {
  content: "\ec8c";
}
.icon-thunderbolt:before {
  content: "\ec8d";
}
.icon-thunderbolt-filled:before {
  content: "\ec8e";
}
.icon-thunderbolt-two-tone .path1:before {
  content: "\ec8f";
  color: rgb(230, 247, 255);
}
.icon-thunderbolt-two-tone .path2:before {
  content: "\ec90";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-tool:before {
  content: "\ec91";
}
.icon-tool-filled:before {
  content: "\ec92";
}
.icon-tool-two-tone .path1:before {
  content: "\ec93";
  color: rgb(230, 247, 255);
}
.icon-tool-two-tone .path2:before {
  content: "\ec94";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-to-top:before {
  content: "\ec95";
}
.icon-trademark:before {
  content: "\ec96";
}
.icon-trademark-circle-filled:before {
  content: "\ec97";
}
.icon-trademark-circle-two-tone .path1:before {
  content: "\ec98";
  color: rgb(24, 144, 255);
}
.icon-trademark-circle-two-tone .path2:before {
  content: "\ec99";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-trademark-circle-two-tone .path3:before {
  content: "\ec9a";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-trademark-circle-two-tone .path4:before {
  content: "\ec9b";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-transaction:before {
  content: "\ec9c";
}
.icon-trophy:before {
  content: "\ec9d";
}
.icon-trophy-filled:before {
  content: "\ec9e";
}
.icon-trophy-two-tone .path1:before {
  content: "\ec9f";
  color: rgb(230, 247, 255);
}
.icon-trophy-two-tone .path2:before {
  content: "\eca0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-twitter:before {
  content: "\eca1";
}
.icon-twitter-circle-filled:before {
  content: "\eca2";
}
.icon-twitter-square-filled:before {
  content: "\eca3";
}
.icon-underline:before {
  content: "\eca4";
}
.icon-undo:before {
  content: "\eca5";
}
.icon-unlock:before {
  content: "\eca6";
}
.icon-unlock-filled:before {
  content: "\eca7";
}
.icon-unlock-two-tone .path1:before {
  content: "\eca8";
  color: rgb(230, 247, 255);
}
.icon-unlock-two-tone .path2:before {
  content: "\eca9";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-unlock-two-tone .path3:before {
  content: "\ecaa";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-unordered-list:before {
  content: "\ecab";
}
.icon-up:before {
  content: "\ecac";
}
.icon-up-circle:before {
  content: "\ecad";
}
.icon-up-circle-filled:before {
  content: "\ecae";
}
.icon-up-circle-two-tone .path1:before {
  content: "\ecaf";
  color: rgb(230, 247, 255);
}
.icon-up-circle-two-tone .path2:before {
  content: "\ecb0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-up-circle-two-tone .path3:before {
  content: "\ecb1";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-upload:before {
  content: "\ecb2";
}
.icon-up-square:before {
  content: "\ecb3";
}
.icon-up-square-filled:before {
  content: "\ecb4";
}
.icon-up-square-two-tone .path1:before {
  content: "\ecb5";
  color: rgb(24, 144, 255);
}
.icon-up-square-two-tone .path2:before {
  content: "\ecb6";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-up-square-two-tone .path3:before {
  content: "\ecb7";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-usb:before {
  content: "\ecb8";
}
.icon-usb-filled:before {
  content: "\ecb9";
}
.icon-usb-two-tone .path1:before {
  content: "\ecba";
  color: rgb(230, 247, 255);
}
.icon-usb-two-tone .path2:before {
  content: "\ecbb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-usb-two-tone .path3:before {
  content: "\ecbc";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-user:before {
  content: "\ecbd";
}
.icon-user-add:before {
  content: "\ecbe";
}
.icon-user-delete:before {
  content: "\ecbf";
}
.icon-usergroup-add:before {
  content: "\ecc0";
}
.icon-usergroup-delete:before {
  content: "\ecc1";
}
.icon-vertical-align-bottom:before {
  content: "\ecc2";
}
.icon-vertical-align-middle:before {
  content: "\ecc3";
}
.icon-vertical-align-top:before {
  content: "\ecc4";
}
.icon-vertical-left:before {
  content: "\ecc5";
}
.icon-vertical-right:before {
  content: "\ecc6";
}
.icon-video-camera:before {
  content: "\ecc7";
}
.icon-video-camera-filled:before {
  content: "\ecc8";
}
.icon-video-camera-two-tone .path1:before {
  content: "\ecc9";
  color: rgb(230, 247, 255);
}
.icon-video-camera-two-tone .path2:before {
  content: "\ecca";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-video-camera-two-tone .path3:before {
  content: "\eccb";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-wallet:before {
  content: "\eccc";
}
.icon-wallet-filled:before {
  content: "\eccd";
}
.icon-wallet-two-tone .path1:before {
  content: "\ecce";
  color: rgb(24, 144, 255);
}
.icon-wallet-two-tone .path2:before {
  content: "\eccf";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-wallet-two-tone .path3:before {
  content: "\ecd0";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-wallet-two-tone .path4:before {
  content: "\ecd1";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-warning:before {
  content: "\ecd2";
}
.icon-warning-filled:before {
  content: "\ecd3";
}
.icon-warning-two-tone .path1:before {
  content: "\ecd4";
  color: rgb(24, 144, 255);
}
.icon-warning-two-tone .path2:before {
  content: "\ecd5";
  margin-left: -1em;
  color: rgb(230, 247, 255);
}
.icon-warning-two-tone .path3:before {
  content: "\ecd6";
  margin-left: -1em;
  color: rgb(24, 144, 255);
}
.icon-wechat:before {
  content: "\ecd7";
}
.icon-wechat-filled:before {
  content: "\ecd8";
}
.icon-weibo:before {
  content: "\ecd9";
}
.icon-weibo-circle:before {
  content: "\ecda";
}
.icon-weibo-circle-filled:before {
  content: "\ecdb";
}
.icon-weibo-square:before {
  content: "\ecdc";
}
.icon-weibo-square-filled:before {
  content: "\ecdd";
}
.icon-wifi:before {
  content: "\ecde";
}
.icon-windows:before {
  content: "\ecdf";
}
.icon-windows-filled:before {
  content: "\ece0";
}
.icon-woman:before {
  content: "\ece1";
}
.icon-yahoo:before {
  content: "\ece2";
}
.icon-yahoo-filled:before {
  content: "\ece3";
}
.icon-youtube:before {
  content: "\ece4";
}
.icon-youtube-filled:before {
  content: "\ece5";
}
.icon-yuque:before {
  content: "\ece6";
}
.icon-yuque-filled:before {
  content: "\ece7";
}
.icon-zhihu:before {
  content: "\ece8";
}
.icon-zhihu-circle-filled:before {
  content: "\ece9";
}
.icon-zhihu-square-filled:before {
  content: "\ecea";
}
.icon-zoom-in:before {
  content: "\eceb";
}
.icon-zoom-out:before {
  content: "\ecec";
}
