// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$gray: #BFBFBF;
$grayDisabled: #E5E5E5;
$grayLight: #F5F5F5;
$grayBorder: #D9D9D9;
$grayTextDisabled: #8C8C8C;
$grayText: #595959;
$grayTextDark: #262626;
$blue: #1890FF;
$blueHover: #40A9FF;
$blueLight: #91D5FF;
$blueDisabled: #A3D3FF;
$white: #FFFFFF;
$redError: #F5222D;